@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #848d85;
    background-image: url("media/background.jpg");
    background-size: cover;

}


@layer components {
    .navbar-icon {
        @apply flex flex-row justify-between text-xl w-full mb-5 p-3 text-white select-none hover:bg-amber-800 transition-all ease-in-out ;
    }

    .navbar-sub-icon {
        @apply text-sm m-2 p-2 hover:bg-amber-600;
    }

    .selected {
        @apply bg-amber-500;
    }
}
