@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    min-height: 100%;
    background-color: #848d85;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url("media/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@layer components {
    .navbar-icon {
        @apply flex min-h-11 items-center justify-center rounded-md px-4 py-2 text-base text-white select-none transition-all ease-in-out hover:bg-amber-800 md:mb-5 md:w-full md:justify-between md:rounded-none md:p-3 md:text-xl;
    }

    .navbar-sub-icon {
        @apply rounded-md px-3 py-2 text-sm hover:bg-amber-600 md:m-2 md:block md:p-2;
    }

    .selected {
        @apply bg-amber-500 text-gray-950 md:text-white;
    }
}
